:root {
  --vim-font-mono: 'MD IO 0.5', monospace;
  --vim-font-sans: 'Sohne', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --vim-white: hsl(0 0% 100%);
  --vim-black: hsl(0 0% 0%);
  --vim-fg: var(--vim-white);
  --vim-fgAlpha: 0 0% 100%;
  --vim-bg: hsl(0 0% 7% / 0.8);
  --vim-accent: hsl(220 80% 76%);
  --vim-accentAlpha: hsl(220 80% 76% / 0.2);
  --vim-mono: hsl(0 0% 62.8%);
  --vim-monoAlpha: 0 0% 62.8%;

  --vim-text-xs: 10px;
  --vim-text-sm: 12px;
  --vim-text: 14px;
  --vim-text-lg: 16px;
  --vim-leading: 1.6;

  --vim-border: 1px solid hsl(var(--vim-fgAlpha) / 0.15);
  --vim-outline: 0.5px solid var(--vim-black);

  --vim-radius-sm: 4px;
  --vim-radius: 8px;
  --vim-radius-lg: 10px;

  --vim-shadow: rgb(0 0 0 / 20%) 0px 16px 70px;
  --vim-blur: blur(40px);
}

@media (prefers-color-scheme: light) {
  :root {
    --vim-fg: var(--vim-black);
    --vim-bg: hsl(0 0% 100% / 0.8);

    --vim-border: 1px solid hsl(var(--vim-monoAlpha) / 0.4);
    --vim-outline: none;
  }
}

/* hints */
#vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--vim-bg);
  backdrop-filter: var(--vim-blur);
  border-radius: var(--vim-radius-sm);
  border: var(--vim-border);
  outline: var(--vim-outline);
  box-shadow: var(--vim-shadow);
  padding: 4px;
}

#vimiumHintMarkerContainer div.vimiumHintMarker span {
  color: var(--vim-fg);
  font-family: var(--vim-font-mono);
  font-size: var(--vim-text-xs);
  font-weight: 400;
  text-shadow: none;
  text-transform: lowercase;
}

#vimiumHintMarkerContainer div.vimiumHintMarker .matchingCharacter {
  color: var(--vim-accent);
}

/* hud */
div.vimiumHUD {
  width: fit-content;
  left: auto;
  right: 0;
  background: var(--vim-bg);
  backdrop-filter: var(--vim-blur);
  border-radius: var(--vim-radius);
  border: var(--vim-border);
  outline: var(--vim-outline);
  box-shadow: var(--vim-shadow);
  bottom: 18px;
}

div.vimiumHUD div.vimiumHUDSearchArea {
  background: transparent;
  padding: 8px;
}

div.vimiumHUD div.vimiumHUDSearchAreaInner,
div.vimiumHUD span#hud-find-input {
  color: var(--vim-fg);
  font-family: var(--vim-font-sans);
  font-size: var(--vim-text);
  font-weight: 400;
  height: fit-content;
  line-height: inherit;
}

div.vimiumHUD span#hud-match-count {
  color: var(--vim-mono);
  font-size: var(--vim-text);
}

div.vimiumHUD .hud-find {
  background: transparent;
  border: none;
}

/* vomnibar */
#vomnibar {
  background: var(--vim-bg);
  backdrop-filter: var(--vim-blur);
  border: var(--vim-border);
  outline: var(--vim-outline);
  box-shadow: var(--vim-shadow);
  border-radius: var(--vim-radius);
  padding: 0 8px;
  width: 640px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  transform-origin: 50% center;
}

#vomnibar .vomnibarSearchArea {
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
}

#vomnibar #vomnibarInput {
  background: transparent;
  border: none;
  padding: 16px 8px;
  font-size: var(--vim-text-lg);
  font-family: var(--vim-font-sans);
  color: var(--vim-fg);
  box-shadow: none;
  height: fit-content;
}

#vomnibar #vomnibarInput::selection {
  color: var(--vim-black);
  background: var(--vim-fg);
}

#vomnibar ul {
  background: transparent;
  border-radius: 0;
  margin: 0;
  padding: 14px 0;
  border-top: var(--vim-border);
  overflow: hidden;
}

#vomnibar li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 42px;
  padding: 0 8px;
  border-radius: 8px;
  border: none;
  line-height: 16px;
  gap: 8px;
}

#vomnibar li:not(:last-child) {
  margin-bottom: 4px;
}

#vomnibar li:hover {
  background: hsl(var(--vim-monoAlpha) / 0.08);
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  font-size: var(--vim-text);
  margin: 0;
  padding: 0;
}

#vomnibar li .vomnibarTopHalf {
  display: flex;
  align-items: center;
  gap: 8px;
}

#vomnibar li .vomnibarTopHalf::after {
  content: '—';
  color: var(--vim-mono);
}

#vomnibar li .vomnibarBottomHalf {
  overflow: hidden;
  text-overflow: ellipsis;
}

#vomnibar li .vomnibarTitle,
#vomnibar li .vomnibarUrl {
  font-family: var(--vim-font-sans);
  font-weight: 400;
  line-height: var(--vim-leading);
}

#vomnibar li .vomnibarSource {
  color: var(--vim-accent);
  background: var(--vim-accentAlpha);
  font-size: inherit;
  margin: 0;
  border-radius: var(--vim-radius-sm);
  padding: 4px 6px;
  display: block;
  flex-shrink: 0;
}

#vomnibar li .vomnibarTitle {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}

#vomnibar li .vomnibarTitle:empty {
  display: none;
}

#vomnibar li .vomnibarUrl {
  color: var(--vim-mono);
  font-size: inherit;
  font-weight: 400;
  font-family: var(--vim-font-sans);
  display: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

#vomnibar li .vomnibarMatch {
  font-weight: 400;
  color: inherit;
}

#vomnibar li .vomnibarNoInsertText,
#vomnibar li .vomnibarIcon {
  display: none;
}

#vomnibar li .vomnibarInsertText {
  display: none;
}

#vomnibar li.vomnibarSelected {
  background: hsl(var(--vim-monoAlpha) / 0.16);
}

.vomnibarFrame #vomnibar {
  background: red !important;
  color: red !important;
}
