#vimiumHintMarkerContainer,
#vomnibar,
.vimiumHUD {
  --vimium-font-mono: 'MD IO', monospace;
  --vimium-font-sans: 'Sohne', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --vimium-white: #fff;
  --vimium-black: #000;
  --vimium-fg: var(--vimium-white);
  --vimium-fgAlpha: 0 0% 100%;
  --vimium-bg: hsl(0 0% 7% / 0.8);
  --vimium-accent: #6f9aec;
  --vimium-accentAlpha: hsl(220 80% 76% / 0.2);
  --vimium-mono: hsl(0 0% 62.8%);
  --vimium-monoAlpha: 0 0% 62.8%;

  --vimium-text-xs: 10px;
  --vimium-text-sm: 12px;
  --vimium-text: 14px;
  --vimium-text-lg: 16px;
  --vimium-leading: 1.5;

  --vimium-border: 1px solid hsl(var(--vimium-fgAlpha) / 0.15);
  --vimium-outline: 0.5px solid var(--vimium-black);

  --vimium-radius-sm: 6px;
  --vimium-radius: 8px;
  --vimium-radius-lg: 10px;

  --vimium-shadow: rgb(0 0 0 / 20%) 0px 16px 70px;
  --vimium-blur: blur(40px);
}

@media (prefers-color-scheme: light) {
  :root {
    --vimium-fg: var(--vimium-black);
    --vimium-bg: hsl(0 0% 100% / 0.8);

    --vimium-border: 1px solid hsl(var(--vimium-monoAlpha) / 0.4);
    --vimium-outline: none;
  }
}

/* hints */
#vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--vimium-bg);
  backdrop-filter: var(--vimium-blur);
  border-radius: var(--vimium-radius-sm);
  border: var(--vimium-border);
  outline: var(--vimium-outline);
  box-shadow: var(--vimium-shadow);
  box-shadow: inset 0 -1px 0 hsl(var(--vimium-fgAlpha) / 0.15);
  padding: 3px 5px;
}

#vimiumHintMarkerContainer div.vimiumHintMarker span {
  color: inherit;
  font-family: var(--vimium-font-mono);
  font-size: var(--vimium-text-sm);
  font-weight: inherit;
  text-shadow: none;
  text-transform: lowercase;
  line-height: 10px;
}

#vimiumHintMarkerContainer div.vimiumHintMarker .matchingCharacter {
  color: gray;
  font-weight: 400;
}

#vimiumHintMarkerContainer div.vimiumHintMarker {
  color: var(--vimium-fg);
}

#vimiumHintMarkerContainer div.vimiumHintMarker:has(.matchingCharacter) {
  color: var(--vimium-accent);
  font-weight: 700;
}

/* hud */
div.vimiumHUD {
  width: fit-content;
  left: auto;
  right: 0;
  background: var(--vimium-bg);
  backdrop-filter: var(--vimium-blur);
  border-radius: var(--vimium-radius);
  border: var(--vimium-border);
  outline: var(--vimium-outline);
  box-shadow: var(--vimium-shadow);
  bottom: 18px;
}

div.vimiumHUD div.vimiumHUDSearchArea {
  background: transparent;
  padding: 8px;
}

div.vimiumHUD div.vimiumHUDSearchAreaInner,
div.vimiumHUD span#hud-find-input {
  color: var(--vimium-fg);
  font-family: var(--vimium-font-sans);
  font-size: var(--vimium-text);
  font-weight: 400;
  height: fit-content;
  line-height: inherit;
}

div.vimiumHUD span#hud-match-count {
  color: var(--vimium-mono);
  font-size: var(--vimium-text);
}

div.vimiumHUD .hud-find {
  background: transparent;
  border: none;
}

/* vomnibar */
#vomnibar {
  background: var(--vimium-bg);
  backdrop-filter: var(--vimium-blur);
  border: var(--vimium-border);
  outline: var(--vimium-outline);
  box-shadow: var(--vimium-shadow);
  border-radius: var(--vimium-radius);
  padding: 0 8px;
  width: 640px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  transform-origin: 50% center;
}

#vomnibar .vomnibarSearchArea {
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
}

#vomnibar #vomnibarInput {
  background: transparent;
  border: none;
  padding: 16px 8px;
  font-size: var(--vimium-text-lg);
  font-family: var(--vimium-font-sans);
  color: var(--vimium-fg);
  box-shadow: none;
  height: fit-content;
}

#vomnibar #vomnibarInput::selection {
  color: var(--vimium-black);
  background: var(--vimium-fg);
}

#vomnibar ul {
  background: transparent;
  border-radius: 0;
  margin: 0;
  padding: 14px 0;
  border-top: var(--vimium-border);
  overflow: hidden;
}

#vomnibar li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  height: 42px;
  padding: 0 8px;
  border-radius: 8px;
  border: none;
  line-height: 16px;
  gap: 8px;
}

#vomnibar li:not(:last-child) {
  margin-bottom: 4px;
}

#vomnibar li:hover {
  background: hsl(var(--vimium-monoAlpha) / 0.08);
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  font-size: var(--vimium-text);
  margin: 0;
  padding: 0;
}

#vomnibar li .vomnibarTopHalf {
  display: flex;
  align-items: center;
  gap: 8px;
}

#vomnibar li .vomnibarTopHalf::after {
  content: '—';
  color: var(--vimium-mono);
}

#vomnibar li .vomnibarBottomHalf {
  overflow: hidden;
  text-overflow: ellipsis;
}

#vomnibar li .vomnibarTitle,
#vomnibar li .vomnibarUrl {
  font-family: var(--vimium-font-sans);
  font-weight: 400;
  line-height: var(--vimium-leading);
}

#vomnibar li .vomnibarSource {
  color: var(--vimium-accent);
  background: var(--vimium-accentAlpha);
  font-size: inherit;
  margin: 0;
  border-radius: var(--vimium-radius-sm);
  padding: 4px 6px;
  display: block;
  flex-shrink: 0;
}

#vomnibar li .vomnibarTitle {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}

#vomnibar li .vomnibarTitle:empty {
  display: none;
}

#vomnibar li .vomnibarUrl {
  color: var(--vimium-mono);
  font-size: inherit;
  font-weight: 400;
  font-family: var(--vimium-font-sans);
  display: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

#vomnibar li .vomnibarMatch {
  font-weight: 400;
  color: inherit;
}

#vomnibar li .vomnibarNoInsertText,
#vomnibar li .vomnibarIcon {
  display: none;
}

#vomnibar li .vomnibarInsertText {
  display: none;
}

#vomnibar li.vomnibarSelected {
  background: hsl(var(--vimium-monoAlpha) / 0.16);
}

